body{
    background: linear-gradient(rgba(224, 224, 224, 0.959),rgb(190, 189, 189));
    width:100%;
    height: 1000vw;
    content:'';
}
.Heading{
    background-image: url("Heading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45vw;
    box-shadow: 0 20px 20px 3px  black;

}
.textbox{
    position: absolute;
    left: 5vw;
    top:3vw;
    width: 60%;
    height: 40vw;
}
.textbox h1{
    font-size: 6vw;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    animation:textdeco 1s;
}
loop:before{
    content:'Hasta La Vista';
    color:whitesmoke;
    font-size: 5vw;
    font-weight: 100;
    animation:changing1 infinite 20s;
    

}
@keyframes changing1{
    0%{
        content:'A Student';
        opacity: 0;
        transform: rotateX(10deg);
    }
    12.5%{
        content:'A Student';
        opacity: 1;
        transform: rotateX(-10deg);
    }
    25%{
        content:'A junior Salesman';
        opacity: 0;
        transform: rotateX(10deg);
        
    }
    37.5%{
        content:' A junior Salesman';
        opacity: 1;
        transform: rotateX(-10deg);
       
    }
    50%{
        content:'A junior Programmer ';
        opacity: 0;
        transform: rotateX(10deg);

    }
    62.5%{
        content:'A junior Programmer';
        opacity: 1;
        transform: rotateX(-10deg);

    }
    75%{
        content:'A Layman';
        opacity: 0;
        transform: rotateX(10deg);
    }
    87.5%{
        content:'A Layman';
        opacity: 1;
        transform: rotateX(-10deg);
    }
    
}
@keyframes textdeco{
    from{
        opacity:0.2;
        transform: rotateX(10deg);
    }
    to{
        opacity:1;
        transform:rotateX(-10deg);
    }
    
}
.ABOUT{
    position:absolute;
    width: 100%;
    height: 10vw;
}
.ABOUT h1{
    position: absolute;
    font-size: 7vw;
    color: black;
    font-weight: 400;
    top:60vw;
    left:12vw;
    opacity: 0;
}
.active h1{
    opacity:1;
    transition:1s;
    top:4vw;
    transform: scaleX(1);
}


.container{
    position: absolute;
    top:10vw;
    left:0.5vw;
    right:0.5vw;
    width: 100%;
    display: flex; 
}

.cards{
    position:relative;
    align-items: center;
    width: 50vw ;
    height: 45vw;
    margin:1vw;
    border-radius: 12px;
    /*background-color:orange;*/
    display: block;
    overflow: hidden;
}

.cards p{
    font-size: 2vw;
}

.content{
    position: absolute;
    top:25vw;
    width: 100%;
    height: 40vw;
    display: flex; 
    /*background-color: blue;*/
}
.content h1{
    top:0;
    left:25%;
    right:25%;
    font-size: 3vw;
    font-family: cursive;
}
.content p{
    position: absolute;
    color:black;
    font-size: 1.5vw;
    font-family: cursive;
    top:4vw;
    left:1.5vw;
    padding:2 1 1 1;
    opacity:0;
}
.active p{
    opacity:1;
    transition:1s;
    top:4vw;
    transform: scaleX(1);
}
.content a{
    position: absolute;
    color:black;
    top:16vw;
    left:25%;
    right:50%;
    padding:2 1 1 1;
    text-decoration: none;
    font-size:3vw;
    font-weight: 300;
    animation: textdeco 1s;
    opacity:0;
}
.active a{
    opacity:1;
    transition:1s;
    top:12vw;
    transform: scaleX(1);
    
}

.content a:hover{
    color: black;
    transition: 2s;
    transform: scale(1.5);
    
}























